<div class="mt-3" id="breadcrumbs">
    {% assign crumbs = page.url | remove:'/index.html' | split: '/' %}
    <i class="fas fa-arrow-left"></i>
    <a href="/">Home</a>
    {% for crumb in crumbs offset: 1 %}
        {% if forloop.last %}
            /
            {{ page.title }}
        {% else %}
            /
            <a href="{% assign crumb_limit = forloop.index | plus: 1 %}{% for crumb in crumbs limit: crumb_limit %}{{ crumb | append: '/' | replace:'without-plugin/','without-plugins/' }}{% endfor %}">{{ crumb | replace:'-',' ' | remove:'.html' | capitalize }}</a>
        {% endif %}
    {% endfor %}
</div>

<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "BreadcrumbList",
  "itemListElement": [
    {
      "@type": "ListItem",
      "position": 1,
      "name": "Home",
      "item": {{ site.url | append: '/' | jsonify }}
    }{% assign path = '' %}{% for crumb in crumbs offset: 1 %}{% assign path = path | append: '/' | append: crumb %},
    {
      "@type": "ListItem",
      "position": {{ forloop.index | plus: 1 }},
      "name": {{ crumb | replace:'-',' ' | remove:'.html' | capitalize | jsonify }},
      "item": {{ site.url | append: path | append: '/' | replace:'without-plugin/','without-plugins/' | jsonify }}
    }{% endfor %}
  ]
}
</script>