<!-- SCRIPTS -->
<script>
  document
    .getElementById("scroll-to-top")
    .addEventListener("click", function () {
      window.scrollTo({
        top: 0,
        left: 0,
        behavior: "smooth",
      });
    });
</script>

<script type="text/javascript">
    window.MathJax = {
        tex: {
            packages: ["base", "ams"]
        },
        loader: {
            load: ["ui/menu", "[tex]/ams"]
        }
    };
</script>

<script async id="MathJax-script" src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-chtml.js" type="text/javascript"></script>
